################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Uploads/ProfilePhotos
/Uploads/ItemPhotos
