.content-wrapper {
    padding: 15px;
    padding-top: 5px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    background-color: #fff;
}

.myitemsh {
    text-align: center;
    color: darkblue;
    padding: 10px;
    font-family: cursive, sans-serif;
    letter-spacing: 2px;
}

.additems {
    margin-bottom: 20px;
}

    .additems a {
        display: inline-block;
        padding: 5px 10px;
        background-color: #007bff;
        text-decoration: none;
        border-radius: 4px;
        cursor: pointer;
        color: whitesmoke;
        transition: background-color 0.3s ease;
    }

        .additems a:hover {
            background-color: #0056b3;
            color: whitesmoke;
        }

.dataTables_filter {
    margin-bottom: 10px;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    background-color: #fff;
}

    .table th {
        text-align: left;
        background-color: darkblue;
        color: #fff;
        padding: 8px;
    }

.text-center sorting {
    color: white;
}

.table td {
    padding: 8px;
    text-align: left;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #ddd;
}

.table tr:hover {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-stripe), 0.05);
}

a {
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

    a:hover {
        color: #0056b3;
    }

.alert.alert-success {
    background-color: #28a745;
    color: #fff;
}

@media (max-width: 767px) {
    .table {
        width: 100%;
        margin-bottom: 20px;
    }

        .table thead {
            display: none;
        }

        .table tbody tr {
            display: block;
            margin-bottom: 15px;
            border: 1px solid #ddd;
        }

        .table tbody td {
            display: block;
            text-align: left;
        }

            .table tbody td::before {
                content: attr(data-label);
                font-weight: bold;
                display: inline-block;
                margin-right: 10px;
            }
}

.btn-group .btn {
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
}

.btn.btn-warning {
    background-color: #ffc107;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

    .btn.btn-warning:hover {
        background-color: #f8b400;
    }

.btn.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

    .btn.btn-danger:hover {
        background-color: #c82333;
    }

td {
    text-align: center;
    vertical-align: middle;
}

.custom-checkbox {
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
    user-select: none;
}

    .custom-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .custom-checkbox .checkmark {
        position: relative;
        top: 0;
        left: 0;
        height: 1.3em;
        width: 1.3em;
        background: black;
        border-radius: 50px;
        transition: all 0.7s;
        --spread: 20px;
    }

    .custom-checkbox input:checked ~ .checkmark {
        background: black;
        box-shadow: -10px -10px var(--spread) 0px #5B51D8, 0 -10px var(--spread) 0px #833AB4, 10px -10px var(--spread) 0px #E1306C, 10px 0 var(--spread) 0px #FD1D1D, 10px 10px var(--spread) 0px #F77737, 0 10px var(--spread) 0px #FCAF45, -10px 10px var(--spread) 0px #FFDC80;
    }

    .custom-checkbox .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .custom-checkbox input:checked ~ .checkmark:after {
        display: block;
    }

    .custom-checkbox .checkmark:after {
        left: 0.45em;
        top: 0.25em;
        width: 0.25em;
        height: 0.5em;
        border: solid #f0f0f0;
        border-width: 0 0.15em 0.15em 0;
        transform: rotate(45deg);
    }
