@import url('signup.css');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

input {
    font-size: 18px;
    letter-spacing: 2px;
}

.registration-container {
    width: 100%; /* Full width on small screens */
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.registration-heading {
    text-align: center;
    font-size: 1.7rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 2rem;
    font-weight: 800;
}

.registration-label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 7px;
}

.registration-input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
    margin-bottom: 5px;
    height: 40px;
}

    .registration-input:focus {
        border-color: rgba(167, 139, 250);
    }

.registration-button {
    display: block;
    width: 100%;
    background-color: #030B6C;
    padding: 1rem 0;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    color: white;
    border-radius: 0.375rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1.1rem;
    letter-spacing: 2.5px;
}

    .registration-button:hover {
        background-color: rgba(147, 119, 219, 1);
        transform: scale(1.05);
    }

.text-danger {
    color: red;
}

.validation-message {
    margin-top: 0;
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-md-6 {
    flex: 0 0 calc(50% - 16px);
}

@media (max-width: 768px) {
    .col-md-6 {
        flex: 0 0 100%;
        margin-right: 0;
    }
}

.control-label.col-md-3.registration-label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 8px;
}

.col-md-9 input[type="file"] {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
    margin-bottom: 16px;
}

    .col-md-9 input[type="file"]:focus {
        border-color: rgba(167, 139, 250);
    }

#registration-profilePhotoPreview {
    max-width: 200px;
    max-height: 200px;
    display: none;
}

.text-danger {
    color: red;
}

.input-group {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    color: #6c757d;
    border: none;
    transition: color 0.3s ease;
}

    .toggle-password:focus {
        outline: none;
        box-shadow: none;
    }

    .toggle-password.glow {
        color: white;
    }

/* Responsive styles */
@media screen and (min-width: 768px) {
    /* For screens wider than 768px (tablets and desktops) */
    .registration-container {
        width: 500px; /* Adjust the width as needed */
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .col-md-6 {
        flex: 0 0 calc(50% - 16px);
    }

    .col-md-9 input[type="file"] {
        width: 100%;
    }

    #registration-profilePhotoPreview {
        max-width: 200px;
        max-height: 200px;
    }
}

/* Additional styles for smaller screens (mobile devices) */
@media screen and (max-width: 767px) {
    .registration-heading {
        font-size: 1.3rem; /* Adjust the font size as needed for smaller screens */
    }

    .registration-label {
        font-size: 16px; /* Adjust the font size as needed for smaller screens */
    }

    .registration-input {
        font-size: 16px; /* Adjust the font size as needed for smaller screens */
    }

    .registration-button {
        font-size: 1rem; /* Adjust the font size as needed for smaller screens */
    }
}