
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["SuccessMessage"] != null)
{
    <div style="display: flex; justify-content: center; align-items: center; height: 50px;">
        <div class="alert alert-success" style="background-color: #a7f1a969; color: #04156e; padding: 10px; text-align: center; font-size: 15px; font-weight: bold; border-radius: 8px; border: 2px solid #01de14; width: 400px;">
            @TempData["SuccessMessage"]
        </div>
    </div>
}

<div class="container unique-container">
    <div class="unique-form-container">
        <h2 class="unique-heading">Forgot Password</h2>

        @using (Html.BeginForm("ForgotPassword", "Users", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <label for="email" class="control-label col-md-12 unique-label">Email</label>
                    <div class="col-md-12">
                        <input type="text" name="email" id="email" class="form-control unique-input" />
                        <div class="validation-message">
                            @Html.ValidationMessage("email", "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group" style="margin-top:25px;">
                    <div class="col-md-12">
                        <input type="submit" value="Forgot Password" class="btn btn-default unique-button" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>